<!DOCTYPE html>
<html>
<head>
    <title>收信箱</title>
    <meta charset="utf-8">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="x5-orientation" content="portrait">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui,maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes">
	
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/font/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-style.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-pop.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-content.css">
	<script type="text/javascript" src="../../assets/js/Adaptive.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-3.1.1.min.js"></script>
	
	<!-- layer.msg('提示查件'); -->
	<link rel="stylesheet" type="text/css" href="../../plugins/fhim/dist/lay/modules/theme/default/layer.css?v=3.1.1">
	<script type="text/javascript" src="../../plugins/fhim/dist/lay/modules/layer.js"></script>
	
	<!-- vue -->
	<script src="../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../assets/js-v/config.js"></script>
	
<script>
$(function(){
	$("#guishu-bj-qx").click(function(){
		$(".modal-overlay").removeClass("modal-overlay-visible");
		$("#bj-tc").hide();
		});
	$("#guishu-tj-qx").click(function(){
		$(".modal-overlay").removeClass("modal-overlay-visible");
		$(".tj-modal").hide();
		});
	$("#guishu-tj-v").click(function(){
		$(".modal-overlay").removeClass("modal-overlay-visible");
		$(".tj-modal").hide();
		});
})
</script>
	
</head>

<body>
<div id="app">
<header class="top-title">
	<ul>
    	<li onclick="javascript:window.location.href='../index.html?FMSG=fhsms'"><i class="iconfont icon-zuosvg"></i><span>返回</span></li>
        <li>{{title}}<span id="fhsmsCount"></span></li>
    </ul>
</header>

<div class="sear-header">
  <div class="sear-wk">
    <div class="sear-search" id="taskCount">
      <ul>
        <li>
        <form>
        	<input type="text" v-model="KEYWORDS" placeholder="输入关键字">
		</form>
        </li>
        <li v-on:click="getList" id="taskCount"><i class="iconfont icon-chazhao"></i></li>
      </ul>
    </div>
    <div class="sear-tjk">
      <div v-show="fhSms" class="sear-tj" v-on:click="sendFhsms('')"> <i class="iconfont icon-jiasvg"></i></div>
    </div>
  </div>
</div>
<div class="splist-cont" id="fhsmstss">
<div id="fhsmsobj"></div>
<template v-for="(data,index) in varList">
  <div class="splist-cont-wk">
    <ul>
      <li>
        <div class="splist-wz">
          <p><span class="color-hui1">{{ftitle}}：</span>{{data.TO_USERNAME}}</p>
          <p><span class="color-hui1">{{stitle}}：</span>{{data.FROM_USERNAME}}</p>
        </div>
        <div class="splist-wz">
          <p><span class="color-hui1">时间：</span>{{data.SEND_TIME}}</p>
          <p><span class="color-hui1">状态：</span>
          	<span v-bind:id="'STATUS'+index+1">
			  	<template v-if="data.STATUS == '2'">未读</template>
				<template v-if="data.STATUS == '1'">已读</template>
		  	</span>
		  </p>
        </div>
      </li>
      <li>
      	<a v-on:click="viewx('STATUS'+index+1,data.STATUS,TYPE == '2'?'2':'1',data.FHSMS_ID,data.SANME_ID)"><i class="iconfont icon-chakan ico-blue"></i>查看</a> 
      	<a v-show="fhSms" v-on:click="sendFhsms(data.TO_USERNAME=='系统消息'?'admin':data.TO_USERNAME)"><i class="iconfont icon-xin ico-orange"></i>回复</a>
        <a v-on:click="isdel(data.FHSMS_ID)"><i class="iconfont icon-shanchu ico-red"></i>删除</a>
      </li>
    </ul>
  </div>
</template>

<div v-show="varList.length==0" class="splist-cont-wk" style="padding-bottom: 10px;">
	<p>没有相关数据</p>
</div>

<div class="splist-cont-wkpa" v-html="page.pageStrSimplify"></div>
  
</div>

<!--添加弹窗开始-->
<div class="tj-modal" id="addfhsms">
  <div class="tj-modal-inner">
    <div class="tj-modal-text">发信</div>
    <div class="ffrom">
    	<label>用户名：</label>
        <input type="text" v-model="USERNAME" id="USERNAME" maxlength="50" placeholder="多个请用(;)分号隔开">
    </div>
    <div class="ffrom">
    	<label>内容：</label>
        <textarea rows="4" cols="20" v-model="TOCONTENT" id="TOCONTENT" placeholder="这里输入内容"></textarea>
    </div>
  </div>
  <div class="tj-modal-buttons ">
  	<span v-on:click="toSendFhsms" class="tj-modal-button">确定</span><span id="guishu-tj-qx" class="tj-modal-button">取消</span>
  </div>
</div>
<!--添加弹窗结束-->
<!--查看弹窗开始-->
<div id="v-tc" class="tj-modal">
  <div class="tj-modal-inner">
    <div class="tj-modal-text">信件内容</div>
    <div class="ffrom" v-html="CONTENT" style="font-size:16px"></div>
  </div>
  <div class="tj-modal-buttons">
  	<span class="tj-modal-button"></span><span id="guishu-tj-v" class="tj-modal-button">关闭</span>
  </div>
</div>
<!--查看弹窗结束-->
<!--删除弹窗开始-->
<div id="bj-tc" class="bj-modal">
  <div class="tj-modal-inner">
    <div class="tj-modal-text">确定要删除吗?</div>
  </div>
  <div class="bj-modal-buttons ">
  	<span v-on:click="goDel" class="bj-modal-button">确定</span><span id="guishu-bj-qx" class="bj-modal-button">取消</span>
  </div>
</div>
<!--删除弹窗结束-->
<!--灰背景层-->
<div class="modal-overlay"></div>

</div>

<script type="text/javascript" src="../../assets/js-v/online.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.tips.js"></script>

<!--本页面js-->
<script type="text/javascript" src="../../assets/js-v/fhsms/fhsms.js"></script>

</body>
</html>