<!DOCTYPE html>
<html>
<head>
    <title>好友列表</title>
    <meta charset="utf-8">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="x5-orientation" content="portrait">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui,maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes">
	
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/font/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-style.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-pop.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ws-content.css">
	<script type="text/javascript" src="../../assets/js/Adaptive.js"></script>
	<script type="text/javascript" src="../../assets/js/jquery-3.1.1.min.js"></script>
	
	<!--引入弹窗组件2start-->
	<script type="text/javascript" src="../../plugins/fhdrag/drag.js"></script>
	<script type="text/javascript" src="../../plugins/fhdrag/dialog.js"></script>
	<link type="text/css" rel="stylesheet" href="../../plugins/fhdrag/style.css" />
	<!--引入弹窗组件2end-->

	<style type="text/css">
		img{width:29px; height:29px; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
	</style>
	
	<!-- layer.msg('提示查件'); -->
	<link rel="stylesheet" type="text/css" href="../../plugins/fhim/dist/lay/modules/theme/default/layer.css?v=3.1.1">
	<script type="text/javascript" src="../../plugins/fhim/dist/lay/modules/layer.js"></script>
	
	<!-- vue -->
	<script src="../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../assets/js-v/config.js"></script>
	
	<script>
	$(function(){
		$("#guishu-bj-qx").click(function(){
			$(".modal-overlay").removeClass("modal-overlay-visible");
			$("#bj-tc").hide();
			});
		$("#guishu-bj-qx2").click(function(){
			$(".modal-overlay").removeClass("modal-overlay-visible");
			$("#bj-tc2").hide();
			});
	})
	</script>

</head>

<body>
<header class="top-title">
	<ul>
    	<li onclick="javascript:window.location.href='../index.html?FMSG=myim'"><i class="iconfont icon-zuosvg"></i><span>返回</span></li>
        <li>好友列表</li>
    </ul>
</header>

<div id="fhsmsobj" style="display: none;"></div>

<div id="app">

<div class="sear-header">
  <div class="sear-wk">
    <div class="sear-search">
      <ul>
        <li>
        <form>
        	<input type="text" v-model="pd.keywords" placeholder="输入关键字">
		</form>
        </li>
        <li v-on:click="getList" id="taskCount"><i id="fhsmstss" class="iconfont icon-chazhao"></i></li>
      </ul>
    </div>
    <div class="sear-tjk">
      <div class="sear-tj"> <i onclick="javascript:window.location.href='friends_add.html'" class="iconfont icon-jiasvg"></i> </div>
    </div>
  </div>
</div>
<div class="splist-cont">

<template v-for="(data,index) in varList">
  <div class="splist-cont-wk">
    <ul>
      <li>
        <div class="splist-wz">
          <p><span class="color-hui1">姓名：</span>{{data.NAME}}</p>
          <p><span class="color-hui1">用户名：</span>{{data.FUSERNAME}}</p>
        </div>
        <div class="splist-wz">
          <p><span class="color-hui1">分组：</span>{{data.GNAME==null?'未分组':data.GNAME}}</p>
          <p><span class="color-hui1">状态：</span>
			{{data.ALLOW == 'will'?'等待同意':''}}
			{{data.ALLOW == 'no'?'被拒绝':''}}
			{{data.ALLOW == 'yes'?'已同意':''}}
		  </p>
        </div>
      </li>
      <li>
      	<a>
      		<img v-bind:src="(null == data.PHOTO2 || '' == data.PHOTO2)?'../../assets/img/avatar-2.jpg':httpurl+data.PHOTO2" width="39" />
      	</a>
      	<a v-show="edit" v-on:click="goEdit(data.FRIENDS_ID)"><i class="iconfont icon-bianji ico-blue"></i>分组</a>
        <a v-show="del" v-on:click="isdel(data.FRIENDS_ID);"><i class="iconfont icon-shanchu ico-red"></i>删除</a>
        <a v-show="del" v-on:click="ispullblack(data.FRIENDS_ID,data.FUSERNAME)"><i class="iconfont icon-shanchu ico-bla"></i>拉黑</a>
      </li>
    </ul>
  </div>
</template>
 
<div v-show="varList.length==0" class="splist-cont-wk" style="padding-bottom: 10px;">
       <p>没有相关数据</p>
</div>

<div class="splist-cont-wkpa" v-html="page.pageStrSimplify"></div>
  
</div>

<!--删除弹窗开始-->
<div id="bj-tc" class="bj-modal">
  <div class="tj-modal-inner">
    <div class="tj-modal-text">确定要删除此好友吗?</div>
  </div>
  <div class="bj-modal-buttons ">
  	<span v-on:click="goDel" class="bj-modal-button">确定</span><span id="guishu-bj-qx" class="bj-modal-button">取消</span>
  </div>
</div>
<!--删除弹窗结束-->

<!--拉黑弹窗开始-->
<div id="bj-tc2" class="bj-modal">
  <div class="tj-modal-inner">
    <div class="tj-modal-text">确定要拉黑此好友吗?</div>
  </div>
  <div class="bj-modal-buttons ">
  	<span v-on:click="pullblack" class="bj-modal-button">确定</span><span id="guishu-bj-qx2" class="bj-modal-button">取消</span>
  </div>
</div>
<!--拉黑弹窗结束-->

<!--灰背景层-->
<div class="modal-overlay"></div>

</div>

<script type="text/javascript" src="../../assets/js-v/online.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.tips.js"></script>

<!--本页面js-->
<script type="text/javascript" src="../../assets/js-v/im/friends_list.js"></script>

</body>
</html>