<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="stylesheet" href="../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    
    <!-- vue -->
	<script src="../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../assets/js-v/config.js"></script>
    
    <style type="text/css">
    	.costs-marl15{margin-left: 15px;}
		div.costs-uploadfile-div{
		    position:relative;
		    cursor:pointer;
		    margin-left: 2px;
		}
		div.costs-uploadfile-div #textfield{
		    width:250px;
		    height:30px;
		    cursor:pointer;
		    background-color: #F4F7FA;
		}
		div.costs-uploadfile-div #FIMG{
		    width:250px;
		    height:30px;    
		    position: absolute;
		    top: 0;
		    left:0;
		    filter: alpha(opacity:0);
		    opacity: 0;
		    cursor:pointer;
		    background-color: #F4F7FA;
		}
    </style>
    
</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
	
									<div style="width: 100%;">
										<div id="showform" style="padding-top: 0px;">
										
								            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
			                                    <div class="input-group-prepend">
			                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">群名称</span></span>
			                                    </div>
			                                    <input type="text" class="form-control" ref="NAME" id="NAME" v-model="pd.NAME" maxlength="32" placeholder="这里输入群名称" title="群名称">
		                                 	</div>
								            
											<div class="input-group input-group-sm mb-3" style="margin-top: -5px;">
								                <div class="input-group-prepend">
			                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">群头像</span></span>
			                                    </div>
							                    <div class="costs-uploadfile-div">   
							                        <template v-if="0 == pd.length || pd.PHOTO == '' || pd.PHOTO == null">                 
												    <input type="file" id="FIMG" onchange="fileType(this)" /> 
												    <input type='text' id="textfield" class="btn btn-light btn--icon-text" value="请选择选择图片" /> 
												    </template>
												    <template v-if="0 != pd.length && pd.PHOTO != '' && pd.PHOTO != null"> 
													<a v-bind:href="httpurl+pd.PHOTO" target="_blank">&nbsp;<img v-bind:src="httpurl+pd.PHOTO" width="50"/></a>
													<a title="删除" v-on:click="delImg(pd.PHOTO,pd.QGROUP_ID);" style="cursor:pointer;"><i class="feather icon-x"></i></a>
													</template>
												</div>
								            </div>
								            <div class="input-group" style="margin-top:10px;background-color: white" >
							            	<span style="width: 100%;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
							            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close();">取消</a>
							            	</span>
							             </div>
										</div>
										<!-- [加载状态 ] start -->
									    <div id="jiazai" style="display:none;margin-top:50px;">
									    	<div class="d-flex justify-content-center">
		                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
	                                                <span class="sr-only">Loading...</span>
	                                            </div>
	                                        </div>
	                                    </div>
									    <!-- [ 加载状态  ] End -->
									</div>
									
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 表单验证提示 -->
<script type="text/javascript" src="../../assets/js/jquery.tips.js"></script>
  	
<!--本页面js-->
<script type="text/javascript" src="../../assets/js-v/im/qgroup_edit.js"></script>

</body>
</html>